.popup__button {
    padding: 0;
    margin: 38px auto 36px;
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .popup__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        margin: 35px auto 25px;
    }
}